/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-image: url('/assets/images/backgrounds/PAYMENTS.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

// Styles for active sidebar button
.mat-list-item.activeMenu {
  background: linear-gradient(to right, #B71C1C, #F57C00, #FBC02D) !important;
  color: white !important;
  font-weight: 500 !important;
  border-radius: 8px !important; /* rounded-lg */
  padding: 8px 16px !important; /* px-4 py-2 */
  transition: all 0.2s ease-in-out !important;
  
  .mat-icon {
    color: white !important; /* Icon white */
  }

  &:hover {
    transform: scale(1.05); /* hover:scale-105 */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2) !important; /* hover:shadow-lg */
  }
}

// Styles pour les messages de notification
.success-snackbar {
  background: #4caf50 !important;
  color: white !important;
  .mat-simple-snackbar-action {
    color: white !important;
  }
}

.error-snackbar {
  background: #f44336 !important;
  color: white !important;
  .mat-simple-snackbar-action {
    color: white !important;
  }
}